<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.store.dao.EmployeeHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.store.model.EmployeeHistory">
        <id column="id" property="id" />
        <result column="job_id" property="jobId" />
        <result column="store_manager_id" property="storeManagerId" />
        <result column="user_account_id" property="userAccountId" />
        <result column="sys_user_old_work_status" property="sysUserOldWorkStatus" />
        <result column="sys_user_new_work_status" property="sysUserNewWorkStatus" />
        <result column="create_time" property="createTime" />
        <result column="remakes" property="remakes" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, job_id, store_manager_id, user_account_id, sys_user_old_work_status, sys_user_new_work_status, create_time, remakes, del_flag
    </sql>

</mapper>
