@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="storeId" name="" underline="true"/>
                            <#input id="storeProfit" name="门店收益" underline="true"/>
                            <#input id="year" name=""/>
                </div>

                <div class="col-sm-6">
                            <#input id="month" name="" underline="true"/>
                            <#input id="createTime" name="" underline="true"/>
                            <#input id="delFlag" name="删除标记：默认为0,1表示删除" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ProfitInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ProfitInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/store/profit/profit_info.js"></script>
@}
