@layout("/common/_container.html"){
<link rel="stylesheet"
      href="${ctxPath}/static/css/plugins/bootstrap/bootstrap-select-1.13.2/dist/css/bootstrap-select.min.css">
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>招聘信息管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <!--<div class="col-sm-3">-->
                             <!--<#NameCon id="companyName" name="企业名称" />-->
                            <!--</div>-->
                            <!--<div class="col-sm-3">-->
                                <!--<#NameCon id="pName" name="岗位名称" />-->
                            <!--</div>-->
                            <!--<div class="col-sm-3">-->
                                <!--<#NameCon id="nickName" name="员工姓名" />-->
                            <!--</div>-->
                            <!--<div class="col-sm-3">-->
                                <!--<#NameCon id="jobNum" name="员工工号" />-->
                            <!--</div>-->
                            <div class="col-sm-3">
                                <#NameCon id="startTime" name="开始日期" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="endTime" name="结束日期" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="WorkStatus.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="JobTableToolbar" role="group">
                           <!-- <#button name="模板下载" icon="fa fa-cloud-download" aria-hidden="true" clickFun="WorkStatus.download()"/>
                            <input style="display: inline-flex;" class="btn btn-primary button-margin" type="file" id="file" space="true" name="fileupload" />
                            <#button name="信息导入" icon="fa-check-circle"  space="true" id = "xhrSubmit"/>-->
                            <#button name="信息导出" icon="fa-check-circle"  space="true" id = "export"/>
                        </div>
                        <#table id="WorkHourTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/store/workStatus/workStatus_workHour.js"></script>
<script src="${ctxPath}/static/modular/store/subsidy/subsidy.js"></script>
<script src="${ctxPath}/static/js/tableExport/jquery.base64.js"></script>
<script src="${ctxPath}/static/js/tableExport/jquery.table2excel.js"></script>
<script src="${ctxPath}/static/css/plugins/bootstrap/bootstrap-select-1.13.2/bootstrap-select.js"></script>
<script src="${ctxPath}/static/js/tableExport/tableExport.js"></script>
<script>

    laydate.render({
        elem: '#startTime',
        type:"datetime"
    });

    laydate.render({
        elem: '#endTime',
        type:"datetime"
    });

    $("#export").click(function(){
        $("#WorkHourTable").table2excel({
            // exclude CSS class
            exclude: ".noExl",
            name: "工资表",
            filename: "工资表数据" //do not include extension
        });
    });

</script>
@}
