@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="id" underline="true"/>
                            <#input id="role" name="角色 0=普通用户，1=经纪人" underline="true"/>
                            <#input id="avatar" name="" underline="true"/>
                            <#input id="nickname" name="昵称" underline="true"/>
                            <#input id="sex" name="性别" underline="true"/>
                            <#input id="age" name="年龄" underline="true"/>
                            <#input id="phone" name="手机号码" underline="true"/>
                            <#input id="jobNum" name="工号" underline="true"/>
                            <#input id="email" name="电子邮件" underline="true"/>
                            <#input id="province" name="省" underline="true"/>
                            <#input id="city" name="城市"/>
                </div>

                <div class="col-sm-6">
                            <#input id="area" name="区域" underline="true"/>
                            <#input id="address" name="地址" underline="true"/>
                            <#input id="password" name="密码" underline="true"/>
                            <#input id="status" name="账号状态 0=正常，1=冻结" underline="true"/>
                            <#input id="workStatus" name="求职状态（0=暂不考虑，1=找工作，2=想换工作，3=已在职）" underline="true"/>
                            <#input id="companyId" name="工作的企业（停用，使用企业用户表）" underline="true"/>
                            <#input id="positionId" name="职位id" underline="true"/>
                            <#input id="points" name="积分" underline="true"/>
                            <#input id="serviceId" name="客服id" underline="true"/>
                            <#input id="createTime" name="" underline="true"/>
                            <#input id="updateTime" name="更新状态" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AccountInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AccountInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/store/account/account_info.js"></script>
@}
